<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Console</mat-label>
      <mat-select formControlName="consoleId">
        <mat-option *ngFor="let console of availableConsoles()" [value]="console.id">
          {{ console.name }} ({{ console.zone }})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number of Players</mat-label>
      <input matInput type="number" formControlName="playerQty" min="1" max="4">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pick a time</mat-label>
      <input matInput formControlName="startTime" [matTimepicker]="picker">
      <mat-timepicker-toggle matIconSuffix [for]="picker"/>
      <mat-timepicker #picker/>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput type="datetime-local" formControlName="startTime">
    </mat-form-field> -->
      <mat-form-field class="example-full-width">
        <mat-label>Customer Name (Optional)</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               formControlName="customerName"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of customers() ; track option) {
            <mat-option [value]="option.name">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    
    <mat-form-field>
      <mat-label>Subscription</mat-label>
      <mat-select formControlName="subscription">
        <mat-option value="none">None</mat-option>
        <mat-option value="basic">Basic</mat-option>
        <mat-option value="premium">Premium (10% off)</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="bookingForm.invalid">Book</button>
  </form>